project:
  type: book


title-es: "Paquetes de rOpenSci: Desarrollo, mantenimiento y revisión por pares"
author-es: "Equipo editorial para la revisión de software de rOpenSci (actuales y pasados)"
description-es: |
    Guía para autoras/es de paquetes, encargadas/os, revisoras/es y editoras/es en
    el sistema de revisión por pares de rOpenSci.
      La primera sección del libro contiene
      nuestras recomendaciones para crear y probar los paquetes de R.
      La segunda sección está dedicada al proceso de revisión por pares de software de rOpenSci:
      qué es, nuestras políticas y guías específicas para orientar
      a quienes crean, mantienen, revisan y editan a lo largo del proceso.
      La tercera y última sección presenta nuestras buenas prácticas para hacer crecer
      su paquete una vez que ha sido incorporado a rOpenSci: cómo colaborar con otras/os desarrolladoras/es,
      cómo documentar cada versión de tu paquete y cómo aprovechar GitHub como plataforma de desarrollo.
      La tercera sección también incluye un capítulo para cualquiera que desee
      comenzar a contribuir a los paquetes de rOpenSci.

book:
  favicon: images/apple-touch-icon.png
  title: "rOpenSci Packages: Development, Maintenance, and Peer Review"
  author: "rOpenSci software review editorial team (current and alumni)"
  description: |
    Guide for package authors, maintainers, reviewers and editors in rOpenSci
    software peer-review system.
    This book is a guide for authors, maintainers, reviewers
    and editors of rOpenSci. The first section of the book contains
    our guidelines for creating and testing R packages.
    The second section is dedicated to rOpenSci's software peer review
    process: what it is, our policies, and specific guides for authors,
    editors and reviewers throughout the process.
    The third and last section features our best practice for nurturing
    your package once it has been onboarded: how to collaborate with
    other developers, how to document releases, how to promote your
    package and how to leverage GitHub as a development platform.
    The third section also features a chapter for anyone wishing
    to start contributing to rOpenSci packages.
  cover-image: images/cover.png
  site-url: https://devguide.ropensci.org/
  repo-url: https://github.com/ropensci/dev_guide/
  repo-actions: [edit, issue]

  chapters:
  - index.Rmd
  - preface.Rmd

  - part: Building Your Package
    part-es: Construyendo tu paquete
    chapters:
    - pkg_building.Rmd
    - pkg_ci.Rmd
    - pkg_security.Rmd

  - part: Software Peer Review of Packages
    part-es: Revisión por pares de software de paquetes
    chapters:
    - softwarereview_intro.Rmd
    - softwarereview_policies.Rmd
    - softwarereview_author.Rmd
    - softwarereview_reviewer.Rmd
    - softwarereview_editor.Rmd
    - softwarereview_editor_management.Rmd

  - part: Maintaining Packages
    part-es: Manteniendo paquetes
    chapters:
    - maintenance_cheatsheet.Rmd
    - maintenance_collaboration.Rmd
    - maintenance_changing_maintainers.Rmd
    - maintenance_releases.Rmd
    - maintenance_marketing.Rmd
    - maintenance_github_grooming.Rmd
    - maintenance_evolution.Rmd
    - maintenance_curation.Rmd
    - maintenance_contributing.Rmd

  - part: Appendix
    part-es: Apéndice
    chapters:
    - booknews.Rmd
    - reviewtemplate.Rmd
    - editortemplate.Rmd
    - reviewrequesttemplate.Rmd
    - approval2template.Rmd
    - newstemplate.Rmd
    - bookreleaseissue.Rmd
    - redirect.Rmd
    - bot_cheatsheet.Rmd

format:
  html:
    theme: [cosmo, custom.scss]
    code-link: true
    include-in-header: "matomo.html"
  pdf:
    include-in-header: "preamble.tex"
    output-file: "ropensci-dev-guide"
babelquarto:
  languagecodes:
  - name: es
    text: "Español"
  - name: en
    text: "English"
  - name: pt
    text: "Português"
  mainlanguage: en
  languages: ['es', 'pt']
title-pt: title in pt
description-pt: description in pt
author-pt: author in pt
lang: en
