p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.book .book-summary ul.summary li span {

    cursor: not-allowed;
    opacity: 1;

}

.book .book-summary ul.summary li.active > a {
  color: #1f58a3;
  font-weight: bold;
}

.book .book-summary ul.summary li > a:hover {
  color: #1f58a3;
  font-weight: bold;
}

.book .book-body .page-wrapper .page-inner section.normal a {
  color: #1f58a3;
  font-weight: bold;
}

.summaryblock{
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  color: #333E50;
  border-style: solid;
  border-width: 5px;
  border-color: #6faef5;
}

.summaryblock > a {
  color: #d8dfee;
}

.part > span {
  color: #5c677e;
}

h1, h2, h3, h4, h5, h6 {
  color: #5c677e;
}

body {
  color: #333E50;
}

.book .book-body .page-wrapper .page-inner section.normal code {
  background: #dfe3eb;
}

div.book-header.fixed[style] {
  background-color: #6faef5 !important;
}

.book .book-header .btn {
  color: #c6deff;
}

.book .book-header .btn:hover {
    position: relative;
    text-decoration: none;
    color: #fff;
    background: 0 0;
    transform:scale(1.3,1.3);
}

.book .book-header h1 a, .book .book-header h1 a:hover {
  color: #fff;
}
