p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.book .book-body .page-wrapper .page-inner section.normal a {
  color: #6faef5;
}

.summaryblock{
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  color: #333E50;
  border-style: solid;
  border-width: 5px;
  border-color: #6faef5;
}

.summaryblock > a {
  color: #d8dfee;
}

h1, h2, h3, h4, h5, h6 {
  color: #5c677e;
}

.book .book-summary ul.summary li span b {
  color: #5c677e;
}

body {
  color: #333E50;
}

.book .book-body .page-wrapper .page-inner section.normal code {
  background: #dfe3eb;
}

div.book-header.fixed[style] {
  background-color: #6faef5 !important;
}

.book .book-header .btn {
  color: #c6deff;
}

.book .book-header h1 a, .book .book-header h1 a:hover {
  color: #c6deff;
}
