p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

.summaryblock{
  padding: 1em 1em 1em 4em;
  margin-bottom: 10px;
  color: #ffffff;
  background: #6faef5 5px center/3em no-repeat;
}

.summaryblock .a {
    color: #d8dfee;


h1, h2, h3, h4, h5, h6 {
  color: #5c677e;
}


body {
  color: #333E50;
}
